# PUBLISH NODE PACKAGES & RELEASE PACKAGE
#
# Publish this project into the node package
# so can access and install from the aplication
# Publish using npmjs.com
# ***** NOTE *****
# Every tag & release created will automatically create a new
# version of packages

name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  create-release:
    name: Create github release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "${{ github.ref_name }}"
          generate_release_notes: true
          draft: false
          prerelease: false

  publish-package:
    name: Publish package
    runs-on: ubuntu-latest
    needs:
      - create-release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup bun environment
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build artifacts
        run: bun run build

      - name: Publish package to npm
        run: bun publish --access public
        env:
          NPM_CONFIG_TOKEN: ${{secrets.NPM_TOKEN}}

  generate-changelog:
    name: Generate changelog
    runs-on: ubuntu-latest
    needs:
      - create-release
      - publish-package
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update changelog
        uses: BobAnkh/auto-generate-changelog@v1.2.5
        with:
          ACCESS_TOKEN: ${{secrets.GITHUB_TOKEN}}
          COMMIT_MESSAGE: "docs(CHANGELOG): update release notes"
          TYPE: "feat:Feature,fix:Bug Fixes,docs:Documentation,refactor:Refactor,perf:Performance Improvements,chore: Changes"
